body{
	--e-global-color-primary					: #111111;
	--e-global-color-secondary					: #F0F2F4;
	--e-global-color-text						: #333333;
	--e-global-color-accent						: #E24C4A;
	--e-global-color-accentsecondary			: #386BB7;
	--e-global-color-white						: #FFFFFF;
	--e-global-color-black						: #000000;
	--e-global-color-divider					: #1111111A;
	--e-global-color-darkdivider				: #FFFFFF10;
	--e-global-color-background             	: #FFFFFF;
	--e-global-typography-primary-font-family	: "Manrope", sans-serif;
	--e-global-typography-secondary-font-family	: "Manrope", sans-serif;
	--e-global-typography-text-font-family		: "Manrope", sans-serif;
	--e-global-typography-accent-font-family    : "Manrope", sans-serif;
}