.productsMenu {
  &:hover {
    .sidebar {
      opacity: 1;
      pointer-events: auto;
      filter: blur(0);
      transform: translateX(-50%) translateY(0);
    }
  }
}

.sidebar {
  opacity: 0;
  pointer-events: none;
  filter: blur(0.25rem);
  left: 50%;
  transform: translateX(-50%) translateY(2rem);
  max-width: calc(100vw - var(--static-space-16));
}

.panel {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  left: -1rem;
  transform: scale(0.2);
  transform-origin: top left;
  height: fit-content;
  max-height: calc(100vh - var(--static-space-64));

  &.open {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  &:not(.open) {
      z-index: -1;
      filter: blur(0.25rem);
  }
}